<div class="window-fits line">
    <div class="presentation-title zoom-on flex column justify-center align-center content-center">
        <h1>2xU_H</h1>
        <h1>Websites</h1>
        <h3>Laissez la créativité prendre vie</h3>
    </div>
    <div class="animation-background">
        <svg class="small-circle shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width='16px' height='16px'>
            <circle cx="50" cy="50" r="50" />
        </svg>
        <svg class="small-circle shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width='16px' height='16px'>
            <circle cx="50" cy="50" r="50" />
        </svg>
        <svg class="small-circle shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width='16px' height='16px'>
            <circle cx="50" cy="50" r="50" />
        </svg>
        <svg class="small-circle shape" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" width='16px' height='16px'>
            <circle cx="50" cy="50" r="50" />
        </svg>
    </div>
</div>
<div class="window-fits column">
    <div class="title flex line">
        <div class="interactive-image flex column items-center">
            <img class="wheel" src="<%= asset_path 'wheel.png' %>" alt="wheel">
            <img class="hand" src="<%= asset_path 'hand.png' %>" alt="hand">
        </div>
        <h2>Mes services</h2>
    </div>
    <ul class="flex column align-start" id="services">
        <li class="flex line items-center">
            <div class="i_container"><i class="fas fa-laptop-code fa-2x"></i></div>
            <p>Création complète de votre site internet (e-commerce, blog, landing page, etc...)</p>
        </li>
        <li class="flex line items-center">
            <div class="i_container"><i class="fas fa-palette fa-2x"></i></div>
            <p>Refonte partielle ou complète / arrangement du "design" de votre site (Front-End), possible également sur les templates Wordpress</p>
        </li>
        <li class="flex line items-center">
            <div class="i_container"><i class="fas fa-file-code fa-2x"></i></div>
            <p>Modifications de la partie "logiciel" de votre site (Back-End)</p>
        </li>
        <li class="flex line items-center">
            <div class="i_container"><i class="fas fa-tachometer-alt fa-2x"></i></div>
            <p>Amélioration de la vitesse de votre site</p>
        </li>
    </ul>
</div>
<div class="window-fits column">
    <div class="title flex line" id="languages">
        <h2>Langages</h2>
        <div id="shapeshifter-language"></div>
    </div>
    <ul class="flex line justify-space-evenly width-100 wrap">
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img class="minimize" src="<%= asset_path('html5.svg') %>" alt="HTML">
            </div>
            <h4>HTML</h4>
        </li>
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img src="<%= asset_path('css.svg') %>" alt="CSS">
            </div>
            <h4>CSS</h4>
        </li>
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img src="<%= asset_path('javascript.svg') %>" alt="Javascript">
            </div>
            <h4>Javascript</h4>
        </li>
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img src="<%= asset_path('ruby.svg') %>" alt="Ruby">
            </div>
            <h4>Ruby</h4>
        </li>
        <!-- <li class="flex column items-center">
            <div class="i_container">
                <i class="fab fa-js-square"></i>
            </div>
            <p></p>
        </li> -->
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img src="<%= asset_path('rails.svg') %>" alt="Rails">
            </div>
            <h4>Rails</h4>
        </li>
        <li class="flex column items-center wrap-screen cardo">
            <div class="badge-container items-center">
                <img src="<%= asset_path('sql.svg') %>" alt="SQL">
            </div>
            <h4>PostgreSQL</h4>
            <h4 class="line-2">SQL</h4>
        </li>
    </ul>
</div>
<div class="window-fits column">
    <div class="title flex line" id="projects">
        <h2>Réalisations</h2>
    </div>
    <ul class="flex line justify-space-evenly width-100 wrap">
        <li class="flex column items-center project-container cardo">
            <div class="flex line items-center img-wrap">
                <img class="img-project" src="<%= asset_path('screen-shop.png') %>" alt="Eshop">
                <div class="flex column items-center justify-center align-center img-description">
                    <p class="">Un shop online, avec système de recherche, filtrage par catégorie/marque/modèle,
                        système de paiement intégré, designé initialement pour vendre des téléphones et accessoires.</p>
                </div>
            </div>
            <h4><a href="https://screen-shop.herokuapp.com/">Eshop, projet non actif</a></h4>
        </li>
    </ul>
</div>